*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    background-color: darkblue;
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;

  }

  .global{
    display: grid;
    grid-template-columns: 1fr repeat(3, 420px) 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
  }