//fonts:
$fontInter: "Inter", sans-serif;
$fontSaira: "Saira Extra Condensed", sans-serif;
$fontOswald: "Oswald", sans-serif;
$fontRoboto: "Roboto", sans-serif;
$fontRubik: "Rubik", sans-serif;
$fontSyne: "Syne", sans-serif;
$fontBigShoulders: "Big Shoulders Stencil Display", sans-serif;
//colors :
$black: #000000;
$white: #ffffff;
$darkBlue: #050712;
$darkBlue2: #121c46;
$darkBlue3: #2e344b;
$bluegrid: #ffffff18;
$orange: #ff9142;
$lightBlue: #0466c8;
$lightBlue2: #2592ff;
// $lightBlue: #fe9950;
//heartbeat animation 
$heartbeat-duration: 1.5s;
$heartbeat-delay-increment: 0.2s;
