//fonts:
$fontInter: "Inter", sans-serif;
$fontSaira: "Saira Extra Condensed", sans-serif;
$fontOswald: "Oswald", sans-serif;
$fontRoboto: "Roboto", sans-serif;
$fontRubik: "Rubik", sans-serif;
$fontSyne: "Syne", sans-serif;
$fontBigShoulders: "Big Shoulders Stencil Display", sans-serif;
//colors :
$black: #000000;
$white: #ffffff;
$darkBlue: rgb(4, 7, 14);
$bluegrid: rgba(51, 59, 81, 0.605);
$lightBlue: #0466c8;
$orange: #ff9142;

// BREAKPOINTS
$ipad: 768px;
$ipadPro: 1024px;
$laptop13: 1280px;
$laptop: 1440px;
$pc: 1920px;
$bigPc: 2560px;

// container :
$container: 1230px;
$containerSize: 1230px;
