footer {
  z-index: 2;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 399.5px 400px 399.5px 1fr;
  grid-template-rows: 200px 80px;
  column-gap: 1px;
  row-gap: 1px;
  margin-top: 1px;
  @include smartphone{
    grid-template-columns: 1fr 40vw 40vw 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-rows: 200px 80px;
    column-gap: 1px;
    row-gap: 1px;
  }
  @include smarthpone-landscape{
    grid-template-columns: 1fr 45vw 45vw 1fr !important;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-rows: 200px 80px;
    column-gap: 1px;
    row-gap: 1px;
    width: 100vw;
    min-width: 100vw;
  }
  @include tablet{
    grid-template-columns: 1fr 45vw 45vw 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-rows: 200px 80px;
    column-gap: 1px;
    row-gap: 1px;
  }
  @include tablet-landscape{
    grid-template-columns: 1fr 45vw 45vw 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-rows: 200px 80px;
    column-gap: 1px;
    row-gap: 1px;
  }
  .el1f {
    grid-column: 1/1;
    background-color: #070b1c;
    @include smartphone{
      grid-column: 1/1;
      background-color: #070b1c;
    }
    @include smarthpone-landscape{
      grid-column: 1/1;
      background-color: #070b1c;
      border-bottom: 1px solid $bluegrid;
      border-right: 1px solid $bluegrid;
    }
    @include tablet{
      grid-column: 1/1;
      background-color: #070b1c;
    }
    @include tablet-landscape{
      grid-column: 1/1;
      background-color: #070b1c;
    }
  }
  .el2f {
    grid-column: 2/5;
    background-color: #070b1c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    @include smartphone{
      grid-column: 2/4;
      background-color: #070b1c;
    }
    @include smarthpone-landscape{
      grid-column: 2/4;
      background-color: #070b1c;
      border-bottom: 1px solid $bluegrid;
      border-right: 1px solid $bluegrid;
    }
    @include tablet{
      grid-column: 2/4;
      background-color: #070b1c;
    }
    @include tablet-landscape{
      grid-column: 2/4;
      background-color: #070b1c;
    }
    .contact{
      margin-bottom: 10px;
      position: absolute;
      left: 30px;
      top: 20px;
      @include smartphone{
        left: 20px;
        top: 20px;
      }
      @include smarthpone-landscape{
        left: 20px;
        top: 20px;
      }
      @include tablet{
        left: 20px;
        top: 20px;
      }
      @include tablet-landscape{
        left: 20px;
        top: 20px;
      }
    h1 {
      font-family: $fontOswald;
      color: $lightBlue;
      padding: 3px 0;
      border-bottom: 1px solid $lightBlue;
      font-size: 30px;
      text-transform: uppercase;
      font-weight: 500;
    }
    }

    a {
      padding: 9.5px 568px 9.5px 25px;
      border: 1px solid $lightBlue;
      background-color: rgba(4, 102, 200, 0.04);
      border-radius: 30px;
      color: $white;
      font-family: $fontSyne;
      font-size: 1rem;
      line-height: 25px;
      text-decoration: underline;
      text-decoration: none;
      position: relative;
      margin-top: 20px;
      @include smartphone{
        padding: 9.5px 130px 9.5px 25px;
        border: 1px solid $lightBlue;
        background-color: rgba(4, 102, 200, 0.04);
        border-radius: 30px;
        color: $white;
        font-family: $fontSyne;
        font-size: 1rem;
        line-height: 25px;
        text-decoration: underline;
        text-decoration: none;
        position: relative;
        margin-top: 60px;
      }
      @media screen and (min-width:320px) and (max-width: 374px) {
        padding: 9.5px 80px 9.5px 25px;
      }
      @include smarthpone-landscape{
        margin-top: 60px;
        padding: 9.5px 400px 9.5px 25px;
      }
      @media screen and (max-width:568px) and (orientation: landscape) {
        padding: 9.5px 250px 9.5px 25px;
      }

      @include tablet{
        margin-top: 60px;
        padding: 9.5px 350px 9.5px 25px;
      }
      @include tablet-landscape{
        margin-top: 60px;
        padding: 9.5px 350px 9.5px 25px;
      }
      .arrow-link {
        position: absolute;
        right: 34px;
        top: 13px;
        font-size: 15px;
      }
      &:hover {
        border: 2px solid $lightBlue;
        cursor: pointer;
      }
  }
}
  .el3f {
    grid-column: 5/5;
    background-color: #070b1c;
    overflow: hidden;
    position: relative;
    @include smartphone{
      grid-column: 4/4;
      background-color: #070b1c;
    }
    @include smarthpone-landscape{
      grid-column: 4/4;
      background-color: #070b1c;
    }
    @include tablet{
      grid-column: 4/4;
      background-color: #070b1c;
    }
    @include tablet-landscape{
      grid-column: 4/4;
      background-color: #070b1c;
    }
    img {
      position: absolute;
      top: 124px;
      left: -134px;
      right: -197px;
      object-fit: contain;
      transform: scale(2);
      // opacity: 0.9;
      width: 100%;
    }
  }
  .el5f {
    grid-column: 1/1;
    background-color: #070b1c;
    @include smartphone{
      grid-column: 1/1;
      grid-row: 2/2;
      background-color: #070b1c;
    }
    @include smarthpone-landscape{
      grid-column: 1/1;
      grid-row: 2/2;
      background-color: #070b1c;
    }
    @include tablet{
      grid-column: 1/1;
      grid-row: 2/2;
      background-color: #070b1c;
    }
    @include tablet-landscape{
      grid-column: 1/1;
      grid-row: 2/2;
      background-color: #070b1c;
    }
  }
  .el6f {
    grid-column: 2/2;
    background-color: #070b1c;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 30px;
    @include smartphone{
      grid-column: 2/2;
      grid-row: 2/2;
      background-color: #070b1c;
    }
    @include smarthpone-landscape{
      grid-column: 2/2;
      grid-row: 2/2;
      background-color: #070b1c;
    }
    @include tablet{
      grid-column: 2/2;
      grid-row: 2/2;
      background-color: #070b1c;
    }
    @include tablet-landscape{
      grid-column: 2/2;
      grid-row: 2/2;
      background-color: #070b1c;
    }
    .logo-group {
      display: flex;
      align-items: center;
      justify-content: center;
       a{
        font-size: 30px;
        font-family: $fontOswald;
        color: $white;
        font-weight: 700;
        text-decoration: none;
        font-style: italic;
        position: relative;
        span{
          color: $lightBlue;
        }
       }
      }
    .name-logo {
      display: flex;
      justify-content: center;
      align-items: center;
      @include smartphone{
        display: none;
      }
      h1 {
        font-size: 1rem;
        font-family: $fontSyne;
        font-weight: 600;
        color: $white;
        padding-left: 10px;
        transform: translateY(4px);
        a {
          color: $white;
          cursor: default;
        }
      }
    }
  }
  .el7f {
    grid-column: 3/3;
    background-color: #070b1c;
    @include smartphone{
      grid-column: 3/3;
      grid-row: 2/2;
      background-color: #070b1c;
    }
    @include smarthpone-landscape{
      grid-column: 3/3;
      grid-row: 2/2;
      background-color: #070b1c;
    }
    @include tablet{
      grid-column: 3/3;
      grid-row: 2/2;
      background-color: #070b1c;
    }
    @include tablet-landscape{
      grid-column: 3/3;
      grid-row: 2/2;
      background-color: #070b1c;
    }
  }
  .el8f {
    grid-column: 4/4;
    background-color: #070b1c;
    display: flex;
    justify-content: center;
    align-items: center;
    @include smartphone{
      grid-column: 3/3;
      grid-row: 2/2;
      background-color: #070b1c;
    }
    @include smarthpone-landscape{
      grid-column: 3/3;
      grid-row: 2/2;
      background-color: #070b1c;
      border-bottom: 1px solid $bluegrid;
      border-right: 1px solid $bluegrid;
    }
    @include tablet{
      grid-column: 3/3;
      grid-row: 2/2;
      background-color: #070b1c;
    }
    @include tablet-landscape{
      grid-column: 3/3;
      grid-row: 2/2;
      background-color: #070b1c;
    }
    h1{
      font-size: 11px;
      font-family: $fontInter;
      font-weight: 300;
      letter-spacing: -0.5px;
      color: $white;
      br{
        display: none;
      }
      @include smartphone{
        font-size: 10px;
        text-align: center;
        br{
          display: block;
        }
      }
    }
  }
  .el9f {
    grid-column: 5/5;
    background-color: #070b1c;
    @include smartphone{
      grid-column: 4/4;
      grid-row: 2/2;
      background-color: #070b1c;
    }
    @include smarthpone-landscape{
      grid-column: 4/4;
      grid-row: 2/2;
      background-color: #070b1c;
    }
    @include tablet{
      grid-column: 4/4;
      grid-row: 2/2;
      background-color: #070b1c;
    }
    @include tablet-landscape{
      grid-column: 4/4;
      grid-row: 2/2;
      background-color: #070b1c;
    }
  }
}
