footer {
  z-index: 2;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 399.5px 400px 399.5px 1fr;
  grid-template-rows: 200px 80px;
  // grid-column-gap: 0px;
  // grid-row-gap: 0px;
  column-gap: 1px;
  row-gap: 1px;
  margin-top: 1px;
  .el1f {
    grid-column: 1/1;
    // border-right: 0.5px solid $bluegrid;
    // border-bottom: 0.5px solid $bluegrid;
    background-color: #070b1c;
  }
  .el2f {
    grid-column: 2/5;
    background-color: #070b1c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    .contact{
      margin-bottom: 10px;
      position: absolute;
      left: 30px;
      top: 20px;
    h1 {
      font-family: $fontOswald;
      color: $lightBlue;
      padding: 3px 0;
      border-bottom: 1px solid $lightBlue;
      font-size: 30px;
      text-transform: uppercase;
      font-weight: 500;
    }
    }

    a {
      padding: 7px 568px 7px 25px;
      border: 1px solid #ffffff26;
      border-radius: 30px;
      color: $white;
      font-family: $fontSyne;
      font-size: 1rem;
      line-height: 25px;
      text-decoration: underline;
      text-decoration: none;
      position: relative;
      margin-top: 20px;
      .arrow-link {
        position: absolute;
        right: 34px;
        top: 13px;
        font-size: 15px;
        &:hover {
          color: $lightBlue;
          transform: rotate(-45deg);
        }
      }
      &:hover {
        color: $lightBlue;
        border: 1px solid $lightBlue;
        cursor: pointer;
      }
  }
}
  .el3f {
    grid-column: 5/5;
    // border-left: 0.5px solid $bluegrid;
    // border-right: 0.5px solid $bluegrid;
    // border-bottom: 0.5px solid $bluegrid;
    background-color: #070b1c;
    overflow: hidden;
    position: relative;
    img {
      position: absolute;
      top: 124px;
      left: -134px;
      right: -197px;
      object-fit: contain;
      transform: scale(2);
      // opacity: 0.9;
      width: 100%;
    }
  }
  .el5f {
    grid-column: 1/1;
    // border-right: 0.5px solid $bluegrid;
    background-color: #070b1c;
  }
  .el6f {
    grid-column: 2/2;
    // border-right: 0.5px solid $bluegrid;
    background-color: #070b1c;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 30px;
    .logo-svg {
      width: 35px;
      &:hover {
        transform: scale(1.2);
      }
    }
    .name-logo {
      display: flex;
      justify-content: center;
      align-items: center;
      h1 {
        font-size: 1rem;
        font-family: $fontSyne;
        font-weight: 600;
        color: $white;
        padding-left: 20px;
        a {
          color: $white;
          cursor: default;
        }
      }
    }
  }
  .el7f {
    grid-column: 3/3;
    background-color: #070b1c;
  }
  .el8f {
    grid-column: 4/4;
    // border-right: 0.5px solid $bluegrid;
    background-color: #070b1c;
    display: flex;
    justify-content: center;
    align-items: center;
    // border-left: 0.5px solid rgba(255, 255, 255, 0.0941176471);
    h1{
      font-size: 11px;
      font-family: $fontInter;
      font-weight: 300;
      letter-spacing: -0.5px;
      color: $white;
    }
  }
  .el9f {
    grid-column: 5/5;
    background-color: #070b1c;
  }
}
