footer {
  display: grid;
  grid-template-columns: 1fr 399.5px 400px 399.5px 1fr;
  grid-template-rows: 200px 80px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  .el1 {
    grid-column: 1/1;
    border-right: 0.5px solid $bluegrid;
    border-bottom: 0.5px solid $bluegrid;
  }
  .el2 {
    grid-column: 2/4;
    border-bottom: 0.5px solid $bluegrid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .contact{
      width: 720px;
      display: flex;
      align-items: start;
      justify-content: start;
      margin-bottom: 10px;
      transform: translateY(-40px);

    h1 {
      font-family: $fontOswald;
      color: $lightBlue;
      padding: 3px 0;
      border-bottom: 1px solid $lightBlue;
      font-size: 22px;
      text-transform: uppercase;
      font-weight: 500;
    }
    }

    a {
      transform: translateY(-10px) ;
      padding: 7px 534px 7px 25px;
      border: 1px solid #ffffff26;
      border-radius: 30px;
      color: $white;
      font-family: $fontSyne;
      font-size: 1rem;
      line-height: 25px;
      text-decoration: underline;
      text-decoration: none;
      transform: translate(-15px, -15px);
      .arrow-link {
        position: absolute;
        right: 34px;
        top: 13px;
        font-size: 15px;
        &:hover {
          color: $lightBlue;
          transform: rotate(-45deg);
        }
      }
      &:hover {
        color: $lightBlue;
        border: 1px solid $lightBlue;
        cursor: pointer;
      }
  }
}
  .el3 {
    grid-column: 4 / 5;
    border-left: 0.5px solid $bluegrid;
    border-right: 0.5px solid $bluegrid;
    border-bottom: 0.5px solid $bluegrid;
    overflow: hidden;
    position: relative;
    img {
      position: absolute;
      top: 124px;
      left: -134px;
      right: -197px;
      object-fit: contain;
      transform: scale(2);
      // opacity: 0.9;
      width: 100%;
    }
  }
  .el4 {
    grid-column: 5/ 5;
    border-bottom: 0.5px solid $bluegrid;
  }
  .el5 {
    grid-column: 1/1;
    border-right: 0.5px solid $bluegrid;
  }
  .el6 {
    grid-column: 2/2;
    border-right: 0.5px solid $bluegrid;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 20px;
    .logo-svg {
     
      width: 35px;
      &:hover {
        transform: scale(1.2);
      }
    }
    .name-logo {
      display: flex;
      justify-content: center;
      align-items: center;
      h1 {
        font-size: 1rem;
        font-family: $fontSyne;
        font-weight: 600;
        color: $white;
        padding-left: 20px;
        a {
          color: $white;
        }
        a:hover {
          cursor: pointer;
        }
      }
    }
  }
  .el7 {
    grid-column: 3/3;
  }
  .el8 {
    grid-column: 4/4;
    border-right: 0.5px solid $bluegrid;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 0.5px solid rgba(255, 255, 255, 0.0941176471);
    h1{
      font-size: 11px;
      font-family: $fontInter;
      font-weight: 300;
      letter-spacing: -0.5px;
      color: $white;
    }
  }
  .el9 {
    grid-column: 5/5;
  }
}
