header {
  .header-global {
    @include gridContainer1;
    grid-template-rows: 80px;
    .el1 {
      grid-column: 1 / 1;
      grid-row: 1/1;
      border-bottom: 0.5px solid $bluegrid;
    }
    .el2 {
      grid-column: 3 / 3;
      grid-row: 1/1;
      border-bottom: 0.5px solid $bluegrid;
    }
    .el3 {
      grid-column: 5 / 5;
      grid-row: 1/1;
      border-bottom: 0.5px solid $bluegrid;
    }
    .logo {
      grid-column: 2 / 2;
      grid-row: 1/1;
      border-bottom: 0.5px solid $bluegrid;
      border-right: 0.5px solid $bluegrid;
      border-left: 0.5px solid $bluegrid;
      display: flex;
      padding-left: 15px;
      .logo-svg {
        width: 37px;
      }
    }
    .name-logo {
      display: flex;
      justify-content: center;
      align-items: center;
      grid-column: 2 / 2;
      grid-row: 1/1;
      h1 {
        font-size: 20px;
        font-family: $fontSyne;
        font-weight: lighter;
        color: $white;
        letter-spacing: -1px;
        a {
          color: $white;
        }
        a:hover {
          color: $lightBlue;
        }
      }
    }
    .menu {
      grid-column: 4 / 4;
      grid-row: 1/1;
      display: flex;
      align-items: center;
      justify-content: center;
      ul {
        display: flex;
        gap: 20px;
        li {
          a {
            font-size: 17px;
            font-family: $fontSyne;
            font-weight: 200;
            letter-spacing: -1px;
            color: $white;
          }
          a:hover {
            color: $lightBlue;
          }
        }
      }
    }
    .theme-switcher {
      display: flex;
      align-items: center;
      justify-content: end;
      padding-right: 15px;
      grid-column: 4 / 4;
      grid-row: 1/1;
      border-left: 0.5px solid $bluegrid;
      border-right: 0.5px solid $bluegrid;
      border-bottom: 0.5px solid $bluegrid;
      label {
        width: 28px;
        height: 28px;
        // background-color: $lightBlue;
        // box-shadow: 0px 2px 3px 1px rgb(24, 24, 24);
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      input {
        position: absolute;
        opacity: 0;
      }
      .moon {
        font-size: 19px;
        color: $white;
        filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.504));
        transition: 0.7s ease;
        // transition-delay: 0.3s;
      }
      .moon:hover {
        color: $lightBlue;
      }

      input:checked ~ .moon {
        // transition-delay: 0s;
        transform: rotate(360deg) scale(0);
      }

      .sun {
        position: absolute;
        font-size: 19px;
        color: $darkBlue;
        filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.6));
        transform: scale(0);
        transition: 0.7s ease;
      }
      .sun:hover {
        color: $lightBlue;
      }

      input:checked ~ .sun {
        // transition-delay: 0.3s;
        transform: scale(1) rotate(360deg);
      }

      .toggle {
        position: absolute;
        display: block;
        width: 28px;
        height: 28px;
        border-radius: 50%;
        box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.1),
          inset 0 8px 8px rgba(0, 0, 0, 0.1),
          inset 0 -4px -4px rgba(0, 0, 0, 0.1);
        z-index: -1;
        transition: 0.7s;
      }
      input:checked ~ .toggle {
        background: #ffffff;
      }
    }
  }
}
