// body {
//   height: 100vh;
//   width: 100vw;
// }
header {
 position: relative;
 z-index: 2;
  display: grid;
  grid-template-columns: 1fr 399.5px 400px 399.5px 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: 80px;
  column-gap: 1px;
  @include smartphone{
    grid-template-columns: 1fr 40vw 40vw 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-rows: 80px;
    column-gap: 1px;
  }
  @include smarthpone-landscape{
    display: grid;
    grid-template-columns: 1fr 45vw 45vw 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-rows: 80px;
    column-gap: 1px;
    overflow-x: hidden;
    width: 100vw;
    min-width: 100vw;
  }
  @include tablet{
    grid-template-columns: 1fr 45vw 45vw 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-rows: 80px;
    column-gap: 1px;
  }
  .el1 {
    display: flex;
    grid-column: 1/1;
    grid-row: 1 / 1;
    background-color: #070b1c;
    @include smartphone{
      display: flex;
    grid-column: 1/1;
    grid-row: 1 / 1;
    background-color: #070b1c;
    }
    @include smarthpone-landscape{
      display: flex;
      grid-column: 1/1;
    grid-row: 1 / 1;
    background-color: #070b1c;
    }
    @include tablet{
      display: flex;
    grid-column: 1/1;
    grid-row: 1 / 1;
    background-color: #070b1c;
    }
  }
  .logo {
    grid-column: 2 / 2;
    grid-row: 1 / 1;
    background-color: #070b1c;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0 30px;
    @include smartphone{
      grid-column: 2 / 2;
    }
    @include smarthpone-landscape{
      grid-column: 2 / 2;
    }
    @include tablet{
      grid-column: 2 / 2;
    }
    
    .logo-group {
      display: flex;
      align-items: center;
      justify-content: center;
       a{
        font-size: 30px;
        font-family: $fontOswald;
        color: $white;
        font-weight: 700;
        text-decoration: none;
        font-style: italic;
        position: relative;
        span{
          color: $lightBlue;
        }
       }
      }
    
    .name-logo {
      @include smartphone{
        display: none;
      }
      display: flex;
      justify-content: center;
      align-items: center;
      // margin-left: 30px;
      h1 {
        font-size: 1rem;
        font-family: $fontSyne;
        font-weight: 600;
        color: $white;
        padding-left: 10px;
        transform: translateY(4px);
        a {
          color: $white;
          cursor: default;
        }
      }
    }
  }
  .el3 {
    grid-column: 3 / 3;
    grid-row: 1 / 1;
    // border-bottom: 0.5px solid $bluegrid;
    background-color: #070b1c;
    @include smartphone{
      display: none;
    }
    @include smarthpone-landscape{
      display: none;
    }
    @include tablet{
      display: none;
    }
  }
  .menu-global {
    display: flex;
    align-items: center;
    justify-content: space-around;
    grid-column: 4 / 4;
    grid-row: 1/1;
    background-color: #070b1c;
    @include smartphone{
      grid-column: 3 / 3;
      grid-row: 1/1;
    }
    @include smarthpone-landscape{
      grid-column: 3 / 3;
      grid-row: 1/1;
    }
    @include tablet{
      grid-column: 3 / 3;
      grid-row: 1/1;
    }
    nav {
      ul {
        display: flex;
        .menu-hamburger{
          display: none;
          @include smartphone{
            display: block;
          }
        .hamburger {
          display: none;
          @include smartphone{
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            font-size: 1.9rem;
            color: $white;
            font-weight: 300;
            transform: translateY(-3px);
            &:hover {
              color: $lightBlue;
            }
          }
        }}
        li {
          @include smartphone{
            display: none;
          }
          margin: 0 10px;
          a {
            font-size: 1rem;
            font-family: $fontSyne;
            font-weight: 600;
            color: $white;
            position: relative;
            &:hover {
              padding-top: 5px;
              border-top: 3px solid $lightBlue;
            }
          }
        }
      }
    }
    .btn-moon {
      cursor: pointer;
      background-color: transparent;
      border: none;
      .moon{
        font-size: 1.3rem;
            font-weight: 700;
            color: $white;
            &:hover {
              transition: 200ms ease-in-out;
              color: $lightBlue;
            }
      }
    }
    .btn-sun{
        display: none;
        cursor: pointer;
        background-color: transparent;
        border: none;
        .sun{
          font-size: 1.4rem;
              font-weight: 700;
              color: #070b1c;
              &:hover {
                transition: 200ms ease-in-out;
                color: $lightBlue;
              }
        }
      }
    

  }
  .menu-global-about {
    display: flex;
    align-items: center;
    justify-content: space-around;
    grid-column: 4 / 4;
    grid-row: 1/1;

    background-color: #070b1c;
    nav {
      ul {
        display: flex;
        li {
          margin: 0 10px;
          a {
            font-size: 1rem;
            font-family: $fontSyne;
            font-weight: 600;
            color: $white;
            position: relative;
            &:hover {
              padding-top: 5px;
              border-top: 3px solid $lightBlue;
            }
          }
        }
      }
    }
  }
  .el4 {
    grid-column: 5 / 5;
    grid-row: 1 / 1;
    // border-bottom: 0.5px solid $bluegrid;
    background-color: #070b1c;
    @include smartphone{
      grid-column: 4 / 4;
    }
    @include smarthpone-landscape{
      grid-column: 4 / 4;
    }
    @include tablet{
      grid-column: 4 / 4;
    }
  }
}
