body {
  background-color: $darkBlue;
  min-height: 100vh;
}

// Effects Overlay
.overlay {
  position: fixed;
  top: 0;
  height: 50vh;
  width: 100vw;
  background-color: $lightBlue;
  transition: transform 1s ease-in-out;
  z-index: 1;
}

#topOverlay {
  left: 0;
  transform-origin: top left;
  transform: translateY(0) translateX(0);
}

#bottomOverlay {
  left: 0;
  top: 50vh;
  transform-origin: top left;
  transform: translateY(0) translateX(0);
}

main {
  .nomJob {
    @include gridContainer1;
    grid-template-rows: 35vh 20vh;
    .el1 {
      grid-column: 1 / 1;
      border-left: 0.5px solid $bluegrid;
      border-right: 0.5px solid $bluegrid;
      border-bottom: 0.5px solid $bluegrid;
    }
    .el2 {
      grid-column: 4 / 4;
      border-left: 0.5px solid $bluegrid;
      border-right: 0.5px solid $bluegrid;
      border-bottom: 0.5px solid $bluegrid;
      overflow: hidden;
      position: relative;
      img {
        position: absolute;
        top: 0;
        left: 0;
        object-fit: contain;
        transform: scale(4);
      }
    }
    .el3 {
      grid-column: 5/ 5;
      border-left: 0.5px solid $bluegrid;
      border-right: 0.5px solid $bluegrid;
      border-bottom: 0.5px solid $bluegrid;
    }
    .el4 {
      grid-column: 1 / 1;
      grid-row: 2 / 2;
      border-left: 0.5px solid $bluegrid;
      border-right: 0.5px solid $bluegrid;
      border-bottom: 0.5px solid $bluegrid;
    }
    .el5 {
      grid-column: 2 / 4;
      grid-row: 2 / 2;
      border-left: 0.5px solid $bluegrid;
      border-right: 0.5px solid $bluegrid;
      border-bottom: 0.5px solid $bluegrid;
      overflow: hidden;
      position: relative;
      img {
        position: absolute;
        top: 0;
        left: 0;
        object-fit: contain;
        transform: scale(2);
      }
    }
    .social {
      grid-column: 4/ 4;
      grid-row: 2 / 2;
      border-left: 0.5px solid $bluegrid;
      border-right: 0.5px solid $bluegrid;
      border-bottom: 0.5px solid $bluegrid;
      ul {
        margin-top: 35px;

        li {
          margin: 20px 0 35px 30px;
          a {
            padding: 7px 231px 7px 25px;
            border: 1px solid $white;
            border-radius: 30px;
            color: $white;
            font-size: 18px;
            font-family: $fontSyne;
            font-weight: 200;
            position: relative;
            &:hover {
              color: $lightBlue;
              border: 1px solid $lightBlue;
            }
            .arrow-link {
              position: absolute;
              right: 34px;
              top: 9px;
            }
            .arrow-link:hover {
              position: absolute;
              right: 34px;
              top: 13px;
              transform: 1s ease;
              transition-delay: 0, 2s ease;
            }
          }
          .github {
            padding: 7px 244px 7px 25px;
          }
        }
      }
    }
    .el6 {
      grid-column: 5 / 5;
      grid-row: 2 / 2;
      border-left: 0.5px solid $bluegrid;
      border-right: 0.5px solid $bluegrid;
      border-bottom: 0.5px solid $bluegrid;
    }
    .nomJob-global {
      border-left: 0.5px solid $bluegrid;
      border-right: 0.5px solid $bluegrid;
      border-bottom: 0.5px solid $bluegrid;
      grid-column: 2 / 4;
      grid-row: 1 / 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      padding-left: 15px;

      h1 {
        font-family: $fontOswald;
        font-size: 85px;
        font-weight: 600;
        letter-spacing: -2px;
        color: $white;
        margin: 0;
        transform: translate(-5px, 0px);
        span {
          color: $lightBlue;
          font-style: italic;
          letter-spacing: 12px;
        }
      }
      h2 {
        font-family: $fontInter;
        font-size: 70px;
        font-weight: 200;
        color: $white;
        letter-spacing: -8px;
        transform: translate(0px, -35px);
      }
    }
  }
}
