///////////////////////////// Effects Overlay
.overlay {
  position: fixed;
  top: 0;
  height: 50vh;
  width: 100vw;
  background-color: $lightBlue;
  transition: transform 1s ease-in-out;
  z-index: 4;
}
#topOverlay {
  left: 0;
  transform-origin: top left;
  transform: translateY(0) translateX(0);
}
#bottomOverlay {
  left: 0;
  top: 50vh;
  transform-origin: top left;
  transform: translateY(0) translateX(0);
}
// Mouse effect
#blob {
  height: 300px;
 width: 200px;
 position: absolute;
 left: 50%;
 top: 50%;
 translate: -50% -50%;
 border-radius: 50%;
 background: $lightBlue2;
//  animation: rotate 2s infinite alternate, ovalo 5s infinite alternate;
//  backdrop-filter: blur(100px);

}
#blur {
 height: 100%;
 width: 100%;
 z-index: 2;
 backdrop-filter: blur(50px);
 position: fixed;
 margin: 0;
 top: 0;
 left: 0;
 height: 100vh;
 width: 100%;
 padding: 0;

}
body{
  background-color: #070b1ce2;
}
////////////////////////////////// main :
main {
  z-index: 3;
  position: relative;
  .nomJob {
    display: grid;
    grid-template-columns: 1fr 399.5px 400px 399.5px 1fr;
    grid-template-rows: 380px;
    column-gap: 1px;
    row-gap: 1px;
    margin-top: 1px;
    @include smartphone{
      grid-template-columns: 1fr 40vw 40vw 1fr;
      grid-template-rows: 340px 340px ;
      // column-gap: 1px !important;
      // row-gap: 1px !important;
      margin-top: 1px;

    }
    @media screen and (min-width:320px) and (max-width:374px){
      grid-template-rows: 250px 250px ;
      margin-top: 1px;
    }
    @media screen and (min-width:390px) and (max-width: 767px){
      grid-template-rows: 370px 370px;
    }
    @include smarthpone-landscape {
      grid-template-columns: 1fr 45vw 45vw 1fr;
      grid-template-rows: 250px 340px ;
      margin-top: 1px;
    }
    @media screen and (min-width:671px) and (max-width:1023px) and (orientation: landscape){
      grid-template-rows: 300px 300px ;
      margin-top: 1px;
    }
    @include tablet{
      grid-template-columns: 1fr 45vw 45vw 1fr;
      grid-template-rows: 350px 350px ;
      margin-top: 1px;
    }
    .el1n {
      grid-column: 1 / 1;
      background-color: #070b1c;
      z-index: 3;
      position: relative;

    
  }
    .el2 {
    background-color: #070b1c;
    overflow: hidden;
    position: relative;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @include smartphone{
      grid-column: 2/4 !important;
      grid-row: 2/2 !important;
      // background-color: #070b1c !important;
      overflow: hidden;
    }
    @include smarthpone-landscape{
      grid-column: 2/4 !important;
      grid-row: 2/2 !important;
      // background-color: #070b1c !important;
      overflow: hidden;
    }
    @include tablet {
      grid-column: 2/4 !important;
      grid-row: 2/2 !important;
      // background-color: #070b1c !important;
      overflow: hidden;
    }
    .logo-techno{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 50px;
      @media screen and (min-width:320px)  and (max-width: 400px){
        gap: 30px;
      }
      @media screen and (min-width:401px)  and (max-width: 767px){
        gap: 50px;
      }
      @keyframes heartbeat {
        0%, 100% {
          transform: scale(1);
        }
        50% {
          transform: scale(1.1);
        }
      }
      @include smartphone{
  
      }
      .colon1 {
        display: flex;
        justify-content: center;
        align-items: center;
        img{
          width: 15%;
        }
        img.react {
          margin-left: 50px;
          animation: heartbeat 0.8s infinite, heartbeat 1.5s infinite;
        }
        img.node {
          animation: heartbeat 0.8s infinite, heartbeat 1.7s infinite;
        }
        img.mongo {
          margin-left: 50px;
          animation: heartbeat 0.8s infinite, heartbeat 1.9s infinite;
        }
       
      }
      
      .colon2 {
        display: flex;
        justify-content: center;
        align-items: center;
        img{
          width: 15%;
        }
        img.sql {
          animation: heartbeat 0.8s infinite, heartbeat 2.1s infinite;
        }
        img.php {
          margin-left: 50px;
          animation: heartbeat 0.8s infinite, heartbeat 2.3s infinite;
        }
        img.html {
          margin-left: 50px;
          animation: heartbeat 0.8s infinite, heartbeat 2.5s infinite;
        }
      
      }
      .colon3 {
        display: flex;
        justify-content: center;
        align-items: center;
        img{
          width: 15%;
        }
        img.css {
          animation: heartbeat 0.8s infinite, heartbeat 2.7s infinite;
        }
        img.sass {
          margin-left: 50px;
          animation: heartbeat 0.8s infinite, heartbeat 2.9s infinite;
        }
        img.github {
          margin-left: 50px;
          animation: heartbeat 0.8s infinite, heartbeat 3.3s infinite;
        }
      }


  }
  }
    .el3n {
      // border-bottom: 0.5px solid $bluegrid;
      background-color: #070b1c;
    }
    .nomJob-global {
      background-color: #070b1c;
      grid-column: 2 / 4;
      grid-row: 1 / 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      padding-left: 30px;
      position: relative;
      @include smartphone{
        padding-left: inherit;
        justify-content: center;
      }
      @include smarthpone-landscape{
        padding-left: inherit;
        justify-content: center;
      }
      
      .mobile-portrait{
        @media screen and (min-width:390px) and (max-width:767px){
          height: 100%;
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
      }
      .title{
        position: absolute;
        top: 90px;
        left: 18px;
        margin-right: 10px;
       @media screen and (min-width:320px) and (max-width:374px){
        top: 60px;
        left: 20px;
        margin-right: inherit;
        width: 100%;
        display: flex;
        align-items: center;
       }
       @media screen and (min-width:375px) and (max-width:389px){
        top:90px;
        left: 25px;
        margin-right: inherit;
        display: flex;
        align-items: center;
       }
       @media screen and (min-width:390px) and (max-width:767px){
        top:100px;
        left: 20px;
        margin-right: inherit;
        display: flex;
        align-items: center;
       }
       @media screen and (min-width:565px) and (max-width:670px) and (orientation: landscape){
        top: 75px;
        left: 18px;
        margin-right: 10px;
       } 
       @media screen and (min-width:671px) and (max-width:1023px) and (orientation: landscape){
        top: 65px;
        left: 18px;
        margin-right: 10px;
       }
        h1 {
          font-family: $fontOswald;
          font-size: 85px;
          font-weight: 600;
          letter-spacing: -2px;
          color: $white;
          margin: 0;
          br {
            display: none;
            @include smartphone{
              display: block;
            }
            @include smarthpone-landscape{
              display: none;
            }
          }
          
          @media screen and (min-width:320px) and (max-width: 374px){
            font-size: 40px;
            letter-spacing: -1px;
            line-height: 40px;
          }
          @media screen and (min-width:375px) and (max-width: 389px){
            font-size: 50px;
            letter-spacing: -1px;
            line-height: 50px;
          }
          @media screen and (min-width:390px) and (max-width: 767px){
            font-size: 55px;
            letter-spacing: -1px;
            line-height: 52px;
          }
          @media screen and (min-width:565px) and (max-width:670px) and (orientation: landscape){
            font-size: 68px;
            letter-spacing: -1px;
            line-height: 40px;
          }
          @media screen and (min-width:671px) and (max-width:1023px) and (orientation: landscape){
            font-size: 75px;
            letter-spacing: -1px;
            // line-height: 40px;
          }
          span {
            color: $lightBlue;
            font-style: italic;
            // transform: inherit;
          }
        }
      }
      
      .word-container {
        position: absolute;
        font-family: $fontSaira;
        font-size: 68px;
        font-weight: 100;
        color: $white;
        letter-spacing: 0px;
        text-transform: uppercase;
        top: 180px;
        @media screen and (min-width:320px) and (max-width: 374px){
          top: inherit;
          font-size: 23px;
          left: 20px;
          top: 135px;
        }
        @media screen and (min-width:375px) and (max-width: 389px) {
          top: inherit;
          font-size: 29px;
          left: 25px;
          top: 185px;

        }
        @media screen and (min-width:390px) and (max-width: 767px) {
          top: inherit;
          font-size: 32px;
          left: 20px;
          top: 200px;
        }
        @media screen and (min-width:565px) and (max-width:670px) and (orientation: landscape){
          top: inherit;
          font-size: 50px;
          left: 24px;
          top: 120px;
        }
        @media screen and (min-width:671px) and (max-width:1023px) and (orientation: landscape){
          top: inherit;
          font-size: 50px;
          left: 24px;
          top: 145px;
        }
      }

    }
    .el1Smart{
      display: none;
      @include smartphone{
        display: block;
        grid-column: 1/1;
        grid-row: 2/2;
        background-color: #070b1c;
      }
      @include smarthpone-landscape{
        display: block;
        grid-column: 1/1;
        grid-row: 2/2;
        background-color: #070b1c;
      }
      @include tablet {
        display: block;
        grid-column: 1/1;
        grid-row: 2/2;
        background-color: #070b1c;
      }
    }
    .el2Smart{
      display: none;
      @include smartphone{
        display: block;
        grid-column: 4/4;
        grid-row: 2/2;
        background-color: #070b1c;
      }
      @include smarthpone-landscape{
        display: block;
        grid-column: 4/4;
        grid-row: 2/2;
        background-color: #070b1c;
      }
      @include tablet {
        display: block;
        grid-column: 4/4;
        grid-row: 2/2;
        background-color: #070b1c;
      }
    }
 
  }

  .social-img {
    display: grid;
    grid-template-columns: 1fr 399.5px 400px 399.5px 1fr;
    grid-template-rows: 305px;
    column-gap: 1px;
    row-gap: 1px;
    margin-top: 1px;
    @include smartphone{
      grid-template-columns: 1fr 40vw 40vw 1fr;
      grid-template-rows: 450px 340px ;
      margin-top: 1px;
    }
    @include smarthpone-landscape{
      grid-template-columns: 1fr 45vw 45vw 1fr;
      grid-template-rows: 350px 340px ;
      margin-top: 1px;
    }
    @include tablet{
      grid-template-columns: 1fr 45vw 45vw 1fr;
      grid-template-rows: 350px 340px ;
      margin-top: 1px;
    }
    .el4s {
      grid-column: 1 / 1;
      background-color: #070b1c;
    }
      .aboutMe {
        grid-column: 2 / 4;
        background-color: #070b1c;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 30px;
        position: relative;
        @include smartphone{
          grid-column: 2/4 !important;
          grid-row: 1/1 !important;
          overflow: hidden;
        }
        @include smarthpone-landscape{
          grid-column: 2/4 !important;
          grid-row: 1/1 !important;
          overflow: hidden;
        }
        @include tablet{
          grid-column: 2/4 !important;
          grid-row: 1/1 !important;
          overflow: hidden;
        }
        .about-text{
          position: absolute;
          top: 20px;
          left: 30px;
          display: flex;
          align-items: start;
          justify-content: start;
          @include smartphone{
            top: 20px;
            left: 20px;
          }
          @include smarthpone-landscape{
            top: 20px;
            left: 20px;
          }
          @include tablet{
            top: 20px;
            left: 20px;
          }
        h1 {
          font-family: $fontOswald;
          color: $lightBlue;
          padding: 3px 0;
          border-bottom: 1px solid $lightBlue;
          font-size: 30px;
          text-transform: uppercase;
          font-weight: 500;
        }
      }
        p {
          margin-top: 30px;
          padding: 0 34px ;
          color: $white;
          font-family: $fontInter;
          font-size: 0.93rem;
          line-height: 22px;
          @include smartphone{
            padding: 0 20px;
            margin-top: 70px;
            font-size: 1rem;
            data-aos: none !important;
          }
          @include smarthpone-landscape{
            padding: 0 20px;
            margin-top: 70px;
            font-size: 1rem;
            data-aos: none !important;
          }
          @media screen and (min-width:320px) and (max-width: 374px){
            margin-top: 20px;
            data-aos: none !important;
          }
          @include tablet{
            padding: 0 20px;
            margin-top: 70px;
            font-size: 1rem;
            data-aos: none !important;
          }
        }
        a {
          padding: 7px 549px 7px 25px;
          border: 1px solid $lightBlue;
          // background-color: #0466c81b;
          background-color: rgba(4, 102, 200, 0.04);
          border-radius: 30px;
          color: $white;
          font-family: $fontSyne;
          font-size: 1rem;
          line-height: 25px;
          text-decoration: underline;
          text-decoration: none;
          position: relative;
          &:hover {
            border: 2px solid $lightBlue2;
          }
          @include smartphone{
            padding: 7px 70px 7px 25px;
            margin: 40px 10px 0;
            data-aos: none !important;
          }
          @include smarthpone-landscape{
            padding: 7px 143px 7px 25px;
            margin: 40px 10px 0;
            data-aos: none !important;
          }
          @media screen and (min-width:320px) and (max-width: 374px){
            font-size: 14px;
            margin: 0 10px 0;
            data-aos: none !important;
          }
          @include tablet{
            padding: 7px 145px 7px 25px;
          }
        }
  
        .arrow-link {
          position: absolute;
          right: 34px;
          top: 12px;
        }
      }
    
    .social {
      grid-column: 4/ 4;
      // border-left: 0.5px solid $bluegrid;
      // border-bottom: 0.5px solid $bluegrid;
      // border-right: 0.5px solid $bluegrid;
      background-color: #070b1c;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 15px;
      position: relative;
      @include smartphone{
        grid-column: 2/4 !important;
        grid-row: 2/2 !important;
        overflow: hidden;
      }
      @include smarthpone-landscape{
        grid-column: 2/4 !important;
        grid-row: 2/2 !important;
        overflow: hidden;
      }
      @include tablet{
        grid-column: 2/4 !important;
        grid-row: 2/2 !important;
        overflow: hidden;
      }
      .social-text{
        @include smartphone{
          position: absolute;
          top: 20px;
          left: 20px;
          width: inherit;
        }
        @include smarthpone-landscape{
          position: absolute;
          top: 20px;
          left: 20px;
          width: inherit;
        }
        width: 320px;
        display: flex;
        align-items: start;
        justify-content: start;
        position: absolute;
        top: 20px;
        left: 30px;
        h1 {
          font-family: $fontOswald;
          color: $lightBlue;
          padding: 3px 0;
          border-bottom: 1px solid $lightBlue;
          font-size: 30px;
          text-transform: uppercase;
          font-weight: 500;
        }
      }

      .logo-social {
        margin-top: 20px;
        ul {
          @include smartphone{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 90%;
          }
          li {
            transform: translateY(17px);
            margin: 30px 0;
            a {
              padding: 9.5px 235px 9.5px 25px;
              border: 1px solid $lightBlue;
              // background-color: #0466c81b;
              background-color: rgba(4, 102, 200, 0.04);
              border-radius: 30px;
              color: $white;
              font-size: 16px;
              font-family: $fontSyne;
              font-weight: 200;
              position: relative;
              &:hover {
                cursor: pointer;
                border: 2px solid $lightBlue2;
              }
              .arrow-link {
                position: absolute;
                right: 34px;
                top: 12px;
              }
              @include smartphone{
                padding: 9.5px 170px 9.5px 25px;
              }
              @media screen and (min-width:320px) and (max-width: 374px){
                padding: 9.5px 140px 9.5px 25px;
              }
              @media screen and (min-width:665px) and (max-width: 667px){
                padding: 9.5px 250px 9.5px 25px;
              }
              
            }
            .github {
              padding: 9.5px 244px 9.5px 25px;
              @include smartphone{
                padding: 9.5px 178px 9.5px 25px;
              }
              @media screen and (min-width:320px) and (max-width: 374px){
                padding: 9.5px 145px 9.5px 25px;
              }
              @media screen and (min-width:665px) and (max-width: 667px){
                padding: 9.5px 250px 9.5px 25px;
              }
            }

          }
          .githubli{
            transform: translateY(8px);
            @include tablet {
              transform: translateY(-12px);
            }
          }
        }
      }
    }

    .el6 {
      grid-column: 5 / 5;
      // border-bottom: 0.5px solid $bluegrid;
      background-color: #070b1c;
      @include smartphone{
        grid-column: 4/4 !important;
        grid-row: 1/1 !important;
        overflow: hidden;
      }
      @include smarthpone-landscape{
        grid-column: 4/4 !important;
        grid-row: 1/1 !important;
        overflow: hidden;
      }
      @include tablet{
        grid-column: 4/4 !important;
        grid-row: 1/1 !important;
        overflow: hidden;
      }
    }
    .el7{
      display: none;
      @include smartphone {
        display: block;
        grid-column: 1/1;
        grid-row: 2/2;
        background-color: #070b1c;
      }
      @include smarthpone-landscape {
        display: block;
        grid-column: 1/1;
        grid-row: 2/2;
        background-color: #070b1c;
      }
      @include tablet {
        display: block;
        grid-column: 1/1;
        grid-row: 2/2;
        background-color: #070b1c;
      }
    }
    .el8{
      display: none;
      @include smartphone {
        display: block;
        grid-column: 4/4;
        grid-row: 2/2;
        background-color: #070b1c;
      }
      @include smarthpone-landscape {
        display: block;
        grid-column: 4/4;
        grid-row: 2/2;
        background-color: #070b1c;
      }
      @include tablet {
        display: block;
        grid-column: 4/4;
        grid-row: 2/2;
        background-color: #070b1c;
      }
    }
  }


  .work {
    display: grid;
    grid-template-columns: 1fr 399.5px 400px 399.5px 1fr;
    grid-template-rows:   540px 490px 550px;
    // grid-column-gap: 0px;
    // grid-row-gap: 0px;
    column-gap: 1px;
    row-gap: 1px;
    margin-top: 1px;
    .el5 {
      grid-column: 1 / 1;
      // border-bottom: 0.5px solid $bluegrid;
      // border-right: 0.5px solid $bluegrid;
      background-color: #070b1c;
    }
    .el6w {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      grid-column: 2 / 2;
      background-color: #070b1c;
      position: relative;
      .work-text{
        position: absolute;
        display: flex;
        align-items: start;
        justify-content: start;
        margin-bottom: 10px;
        top: 20px;
        left: 30px;
      h1 {
        font-family: $fontOswald;
        color: $lightBlue;
        padding: 3px 0;
        border-bottom: 1px solid $lightBlue;
        font-size: 30px;
        text-transform: uppercase;
        font-weight: 500;
      }
      }
      .width{
        width: 334px;
        height: 320px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        transform: translateY(50px);
        h1{
          margin-bottom: 10px;
          font-size: 2rem;
          font-family: $fontOswald;
          color: $white;
          font-weight: 500;
        }
        .description {
          color: $white;
          font-family: $fontInter;
          font-size: 0.8rem;
          margin-bottom: 10px;
          span{
            color: $lightBlue;
            font-weight: 500;
            font-size: 1rem;
          }
        }
        .work-techno{
          color: $lightBlue;
          font-family: $fontInter;
          font-size: 0.7rem;
          margin-bottom: 20px;
        }
        .website {
          color: $white;
          // background-color: #0466c81b;
          background-color: rgba(4, 102, 200, 0.04);
          padding: 9.5px 150px 9.5px 25px;
          border: 1px solid $lightBlue;
          border-radius: 30px;
          font-family: $fontSyne;
          font-size: 16px;
          font-weight: 400;
          position: relative;
          // margin-top: 50px;
          .arrow-link {
            position: absolute;
            right: 34px;
            top: 8px;
            font-size: 15px;
            transform: translateY(4px);
          }
          &:hover {
            border: 2px solid $lightBlue2;
            cursor: pointer;
          }
        }
      }
     
    }
    .el7 {
      display: flex;
      justify-content: center;
      align-items: center;
      grid-column: 3 / 5;
      // border-bottom: 0.5px solid $bluegrid;
      // border-right: 0.5px solid $bluegrid;
      background-color: #070b1c;
      overflow: hidden;
      position: relative;

      a{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
      img {
        object-fit: contain;
        width: 90%;
        opacity: 0.9;
        transform: translateY(25px);
      }
    }
    }
    .el8 {
      grid-column: 5 / 5;
      // border-bottom: 0.5px solid $bluegrid;
      background-color: #070b1c;
    }
    .el9 {
      grid-column: 1 / 1;
      // border-right: 0.5px solid $bluegrid;
      // border-bottom: 0.5px solid $bluegrid;
      background-color: #070b1c;
    }
    .el10 {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      grid-column: 4 / 4;
      background-color: #070b1c;
      .width{
        width: 334px;
        height: 300px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        h1{
          margin-bottom: 10px;
          font-size: 2rem;
          font-family: $fontOswald;
          color: $white;
          font-weight: 500;
        }
        .description {
          color: $white;
          font-family: $fontInter;
          font-size: 0.8rem;
          margin-bottom: 10px;
          span{
            color: $lightBlue;
            font-weight: 500;
            font-size: 1rem;
          }
        }
        .work-techno{
          color: $lightBlue;
          font-family: $fontInter;
          font-size: 0.7rem;
          margin-bottom: 10px;
        }
        .website {
          color: $white;
          // background-color: #0466c81b;
          background-color: rgba(4, 102, 200, 0.04);
          padding: 9.5px 150px 9.5px 25px;
          border: 1px solid $lightBlue;
          border-radius: 30px;
          font-family: $fontSyne;
          font-size: 16px;
          font-weight: 400;
          position: relative;
          .arrow-link {
            position: absolute;
            right: 34px;
            top: 8px;
            font-size: 15px;
            transform: translateY(4px);
          }
          &:hover {
            border: 2px solid $lightBlue2;
            cursor: pointer;
          }
        }
      }
    }
    .el11 {
      display: flex;
      justify-content: center;
      align-items: center;
      grid-column:  2 / 4;
      // border-right: 0.5px solid $bluegrid;
      // border-bottom: 0.5px solid $bluegrid;
      overflow: hidden;
      position: relative;
      background-color: #070b1c;
      a{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
      img {
        object-fit: contain;
        width: 90%;
        opacity: 0.9;
      }
    }
    }
    .el12 {
      grid-column: 5 / 5;
      // border-bottom: 0.5px solid $bluegrid;
      background-color: #070b1c;
    }
    .el13 {
      grid-column: 1 / 1;
      // border-right: 0.5px solid $bluegrid;
      // border-bottom: 0.5px solid $bluegrid;
      background-color: #070b1c;
    }
    .el14 {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      grid-column: 2 / 2;
      // border-bottom: 0.5px solid $bluegrid;
      // border-right: 0.5px solid $bluegrid;
      background-color: #070b1c;
      .width{
        width: 334px;
        height: 300px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        h1{
          margin-bottom: 20px;
          font-size: 2rem;
          font-family: $fontOswald;
          color: $white;
          font-weight: 500;
        }
        .description {
          color: $white;
          font-family: $fontInter;
          font-size: 0.8rem;
          margin-bottom: 20px;
          span{
            color: $lightBlue;
            font-weight: 500;
            font-size: 1rem;
          }
        }
        .work-techno{
          color: $lightBlue;
          font-family: $fontInter;
          font-size: 0.7rem;
          margin-bottom: 20px;
        }
        .website {
          color: $white;
          // background-color: #0466c81b;
          background-color: rgba(4, 102, 200, 0.04);
          padding: 9.5px 150px 9.5px 25px;
          border: 1px solid $lightBlue;
          border-radius: 30px;
          font-family: $fontSyne;
          font-size: 16px;
          font-weight: 400;
          position: relative;
          // margin-top: 50px;
          .arrow-link {
            position: absolute;
            right: 34px;
            top: 8px;
            font-size: 15px;
            transform: translateY(4px);
          }
          &:hover {
            border: 2px solid $lightBlue2;
            cursor: pointer;
          }
        }
      }
    }
    .el15 {
      display: flex;
      justify-content: center;
      align-items: center;
      grid-column: 3 / 5;
      // border-bottom: 0.5px solid $bluegrid;
      // border-right: 0.5px solid $bluegrid;
      background-color: #070b1c;
      overflow: hidden;
      position: relative;
      a{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
      img {
        object-fit: contain;
        width: 90%;
        opacity: 0.9;
      }
    }
    }
    .el16 {
      grid-column: 5 / 5;
      // border-bottom: 0.5px solid $bluegrid;
      background-color: #070b1c;
    }
  }
}


///////// 
// pages about
.about-section {
  display: grid;
  grid-template-columns: 1fr 399.5px 400px 399.5px 1fr;
  grid-template-rows: 710px  399px ;
  margin-top: 1px;
  // grid-column-gap: 0px;
  // grid-row-gap: 0px;
  row-gap: 1px;
  column-gap: 1px;
  .el1 {
    grid-column: 1/1;
    // border-right: 0.5px solid $bluegrid;
    // border-bottom: 0.5px solid $bluegrid;
    background-color: #070b1c;
  }
  .el2 {
    grid-column: 2 / 5;
    // border-right: 0.5px solid $bluegrid;
    // border-bottom: 0.5px solid $bluegrid;
    background-color: #070b1c;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
      .title{
        display: flex;
        align-items: start;
        justify-content: start;
        position: absolute;
        top: 20px;
        left: 30px;
        h1 {
          font-family: $fontOswald;
          color: $lightBlue;
          padding: 3px 0;
          border-bottom: 1px solid $lightBlue;
          font-size: 30px;
          text-transform: uppercase;
          font-weight: 500;
        }
      }
      .first{
        margin-top: 55px;
      }
        p {
          font-family: $fontInter;
          color: $white;
          font-size: 0.9rem;
          line-height: 25px;
          text-decoration: none;
          text-align: justify;
          font-weight: 400;
          padding: 0 30px;
          span{
            color: $lightBlue;
          }
        }
        a{
          font-family: $fontInter;
          color: $lightBlue;
          font-size: 0.85rem;
          line-height: 25px;
          text-decoration: none;
          text-align: justify;
          font-weight: 400;
        }
      
  }
  .el4 {
    grid-column: 5/5;
    // border-right: 0.5px solid $bluegrid;
    // border-bottom: 0.5px solid $bluegrid;
    background-color: #070b1c;
  }
  .el5{
      grid-column: 1/1;
      // border-right: 0.5px solid $bluegrid;
      // border-bottom: 0.5px solid $bluegrid;
      background-color: #070b1c;
    }
  
  .el6 {
    grid-column: 2 / 4;
    background-color: #070b1c;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    .title{
      display: flex;
      align-items: start;
      justify-content: start;
      position: absolute;
      top: 20px;
      left: 30px;
      h1 {
        font-family: $fontOswald;
        color: $lightBlue;
        padding: 3px 0;
        border-bottom: 1px solid $lightBlue;
        font-size: 30px;
        text-transform: uppercase;
        font-weight: 500;
      }
    }
    .xp-text{
      display: flex;
      align-items: start;
      justify-content: center;
      flex-direction: column;
      margin-bottom: 10px;
      margin-top: 70px;
      margin-left: 30px;
      margin-right: 30px;
      gap: 20px;
      .line{
        width: 600px;
        height:0.5px;
        background-color: $lightBlue;
      }
      .crispin{
        h1{
          font-family: $fontInter;
          color: $white;
          font-size: 0.95rem;
          text-transform: uppercase;
          font-weight: 700;
          padding-bottom: 10px;
        }
        h2{
          font-family: $fontInter;
          color: white;
          font-size: 0.85rem;
          font-weight: 500;
          padding-bottom: 10px;
          font-style: italic;
        }
        p{
          font-family: $fontInter;
          color: rgba(255, 255, 255, 0.753);
          font-size: 0.80rem;
          text-decoration: none;
          text-align: justify;
          font-weight: 300;
        }
      }
      .voo{
        h1{
          font-family: $fontInter;
          color: $white;
          font-size: 0.95rem;
          text-transform: uppercase;
          font-weight: 700;
          padding-bottom: 10px;
        }
        h2{
          font-family: $fontInter;
          color: white;
          font-size: 0.85rem;
          font-weight: 500;
          padding-bottom: 10px;
          font-style: italic;
        }
        p{
          font-family: $fontInter;
          color: rgba(255, 255, 255, 0.753);
          font-size: 0.80rem;
          text-decoration: none;
          text-align: justify;
          font-weight: 300;
          span{
            color: $lightBlue;
          }
        }
      }
    }
  }
  .el7{
    grid-column: 4/4;
    background-color: #070b1c;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;

    .title{
      display: flex;
      align-items: start;
      justify-content: start;
      position: absolute;
      top: 20px;
      left: 30px;
      h1 {
        font-family: $fontOswald;
        color: $lightBlue;
        padding: 3px 0;
        border-bottom: 1px solid $lightBlue;
        font-size: 30px;
        text-transform: uppercase;
        font-weight: 500;
      }
    }
    .files {
      margin-top: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 62.5%;
      a{
        color: $white;
        padding:9.5px 170px 9.5px 25px;
        border: 1px solid $lightBlue;
        background-color: rgba(4, 102, 200, 0.04);
        border-radius: 30px;
        font-family: $fontSyne;
        font-size: 16px;
        text-decoration: none;
        position: relative;
        margin-top: 30px;
        .arrow-link {
          position: absolute;
          right: 34px;
          top: 12px;
          font-size: 16px;
        }
        &:hover {
          border: 2px solid $lightBlue;
          cursor: pointer;
        }
      }
      p{
        font-family: $fontInter;
        color: rgba(255, 255, 255, 0.753);
        font-size: 0.80rem;
        font-weight: 300;
        padding: 20px 60px;
        line-height: 20px;
        span{
          color: $lightBlue;
        }
      }
    }
  }
  .el8{
    grid-column: 5/5;
    // border-bottom: 0.5px solid $bluegrid;
    background-color: #070b1c;
  }
}


