@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@400;500;600;700;800;900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Oswald:wght@200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Saira+Extra+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Syne:wght@400;500;600;700;800&display=swap");
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

\*::before,
\*::after {
  box-sizing: inherit;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

a {
  text-decoration: none;
}

header .header-global {
  display: grid;
  grid-template-columns: 8.5% 1fr 1fr 1fr 8.5%;
  grid-template-rows: 80px;
}
header .header-global .el1 {
  grid-column: 1/1;
  grid-row: 1/1;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.118);
}
header .header-global .el2 {
  grid-column: 3/3;
  grid-row: 1/1;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.118);
}
header .header-global .el3 {
  grid-column: 5/5;
  grid-row: 1/1;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.118);
}
header .header-global .logo {
  grid-column: 2/2;
  grid-row: 1/1;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.118);
  border-right: 0.5px solid rgba(255, 255, 255, 0.118);
  border-left: 0.5px solid rgba(255, 255, 255, 0.118);
  display: flex;
  padding-left: 15px;
}
header .header-global .logo .logo-svg {
  width: 37px;
}
header .header-global .name-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 2/2;
  grid-row: 1/1;
}
header .header-global .name-logo h1 {
  font-size: 20px;
  font-family: "Syne", sans-serif;
  font-weight: lighter;
  color: #ffffff;
  letter-spacing: -1px;
}
header .header-global .name-logo h1 a {
  color: #ffffff;
}
header .header-global .name-logo h1 a a:hover {
  color: #0466c8;
}
header .header-global .menu {
  grid-column: 4/4;
  grid-row: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .header-global .menu ul {
  display: flex;
  gap: 20px;
}
header .header-global .menu ul li a {
  font-size: 17px;
  font-family: "Syne", sans-serif;
  font-weight: 200;
  letter-spacing: -1px;
  color: #ffffff;
}
header .header-global .theme-switcher {
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 15px;
  grid-column: 4/4;
  grid-row: 1/1;
  border-left: 0.5px solid rgba(255, 255, 255, 0.118);
  border-right: 0.5px solid rgba(255, 255, 255, 0.118);
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.118);
}
header .header-global .theme-switcher label {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header-global .theme-switcher input {
  position: absolute;
  opacity: 0;
}
header .header-global .theme-switcher .moon {
  font-size: 19px;
  color: #ffffff;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.504));
  transition: 0.7s ease;
}
header .header-global .theme-switcher .moon:hover {
  color: #0466c8;
}
header .header-global .theme-switcher input:checked ~ .moon {
  transform: rotate(360deg) scale(0);
}
header .header-global .theme-switcher .sun {
  position: absolute;
  font-size: 19px;
  color: #080d1b;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.6));
  transform: scale(0);
  transition: 0.7s ease;
}
header .header-global .theme-switcher .sun:hover {
  color: #0466c8;
}
header .header-global .theme-switcher input:checked ~ .sun {
  transform: scale(1) rotate(360deg);
}
header .header-global .theme-switcher .toggle {
  position: absolute;
  display: block;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.1), inset 0 8px 8px rgba(0, 0, 0, 0.1), inset 0 -4px -4px rgba(0, 0, 0, 0.1);
  z-index: -1;
  transition: 0.7s;
}
header .header-global .theme-switcher input:checked ~ .toggle {
  background: #ffffff;
}

body {
  background-color: #080d1b;
  min-height: 100vh;
}

.overlay {
  position: fixed;
  top: 0;
  height: 50vh;
  width: 100vw;
  background-color: #0466c8;
  transition: transform 1s ease-in-out;
  z-index: 1;
}

#topOverlay {
  left: 0;
  transform-origin: top left;
  transform: translateY(0) translateX(0);
}

#bottomOverlay {
  left: 0;
  top: 50vh;
  transform-origin: top left;
  transform: translateY(0) translateX(0);
}

main .nomJob {
  display: grid;
  grid-template-columns: 8.5% 1fr 1fr 1fr 8.5%;
  grid-template-rows: 35vh 20vh;
}
main .nomJob .el1 {
  grid-column: 1/1;
  border-left: 0.5px solid rgba(255, 255, 255, 0.118);
  border-right: 0.5px solid rgba(255, 255, 255, 0.118);
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.118);
}
main .nomJob .el2 {
  grid-column: 4/4;
  border-left: 0.5px solid rgba(255, 255, 255, 0.118);
  border-right: 0.5px solid rgba(255, 255, 255, 0.118);
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.118);
  overflow: hidden;
  position: relative;
}
main .nomJob .el2 img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: contain;
  transform: scale(4);
}
main .nomJob .el3 {
  grid-column: 5/5;
  border-left: 0.5px solid rgba(255, 255, 255, 0.118);
  border-right: 0.5px solid rgba(255, 255, 255, 0.118);
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.118);
}
main .nomJob .el4 {
  grid-column: 1/1;
  grid-row: 2/2;
  border-left: 0.5px solid rgba(255, 255, 255, 0.118);
  border-right: 0.5px solid rgba(255, 255, 255, 0.118);
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.118);
}
main .nomJob .el5 {
  grid-column: 2/4;
  grid-row: 2/2;
  border-left: 0.5px solid rgba(255, 255, 255, 0.118);
  border-right: 0.5px solid rgba(255, 255, 255, 0.118);
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.118);
  overflow: hidden;
  position: relative;
}
main .nomJob .el5 img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: contain;
  transform: scale(2);
}
main .nomJob .social {
  grid-column: 4/4;
  grid-row: 2/2;
  border-left: 0.5px solid rgba(255, 255, 255, 0.118);
  border-right: 0.5px solid rgba(255, 255, 255, 0.118);
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.118);
}
main .nomJob .social ul {
  margin-top: 35px;
}
main .nomJob .social ul li {
  margin: 20px 0 35px 30px;
}
main .nomJob .social ul li a {
  padding: 7px 231px 7px 25px;
  border: 1px solid #ffffff;
  border-radius: 30px;
  color: #ffffff;
  font-size: 18px;
  font-family: "Syne", sans-serif;
  font-weight: 200;
  position: relative;
}
main .nomJob .social ul li a:hover {
  color: #0466c8;
  border: 1px solid #0466c8;
}
main .nomJob .social ul li a .arrow-link {
  position: absolute;
  right: 34px;
  top: 9px;
}
main .nomJob .social ul li a .arrow-link:hover {
  position: absolute;
  right: 34px;
  top: 13px;
  transform: 1s ease;
  transition-delay: 0, 2s ease;
}
main .nomJob .social ul li .github {
  padding: 7px 244px 7px 25px;
}
main .nomJob .el6 {
  grid-column: 5/5;
  grid-row: 2/2;
  border-left: 0.5px solid rgba(255, 255, 255, 0.118);
  border-right: 0.5px solid rgba(255, 255, 255, 0.118);
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.118);
}
main .nomJob .nomJob-global {
  border-left: 0.5px solid rgba(255, 255, 255, 0.118);
  border-right: 0.5px solid rgba(255, 255, 255, 0.118);
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.118);
  grid-column: 2/4;
  grid-row: 1/1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-left: 15px;
}
main .nomJob .nomJob-global h1 {
  font-family: "Oswald", sans-serif;
  font-size: 85px;
  font-weight: 600;
  letter-spacing: -2px;
  color: #ffffff;
  margin: 0;
  transform: translate(-5px, 0px);
}
main .nomJob .nomJob-global h1 span {
  color: #0466c8;
  font-style: italic;
  letter-spacing: 12px;
}
main .nomJob .nomJob-global h2 {
  font-family: "Inter", sans-serif;
  font-size: 70px;
  font-weight: 200;
  color: #ffffff;
  letter-spacing: -8px;
  transform: translate(0px, -35px);
}