@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@400;500;600;700;800;900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Oswald:wght@200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Saira+Extra+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Syne:wght@400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

\*::before,
\*::after {
  box-sizing: inherit;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-size: 16px;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

header {
  display: grid;
  grid-template-columns: 1fr repeat(3, 400px) 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: 80px;
}
header .el1 {
  display: flex;
  grid-column: 1/1;
  grid-row: 1/1;
  border-bottom: 0.5px solid rgba(51, 59, 81, 0.244);
}
header .logo {
  grid-column: 2/2;
  grid-row: 1/1;
  border-bottom: 0.5px solid rgba(51, 59, 81, 0.244);
  border-right: 0.5px solid rgba(51, 59, 81, 0.244);
  border-left: 0.5px solid rgba(51, 59, 81, 0.244);
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0 20px;
}
header .logo .logo-svg {
  width: 35px;
}
header .logo .logo-svg:hover {
  transform: scale(1.2);
}
header .logo .name-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .logo .name-logo h1 {
  font-size: 1rem;
  font-family: "Syne", sans-serif;
  font-weight: 600;
  color: #ffffff;
  padding-left: 20px;
}
header .logo .name-logo h1 a {
  color: #ffffff;
}
header .logo .name-logo h1 a:hover {
  cursor: pointer;
}
header .el3 {
  grid-column: 3/3;
  grid-row: 1/1;
  border-bottom: 0.5px solid rgba(51, 59, 81, 0.244);
}
header .menu-global {
  display: flex;
  align-items: center;
  justify-content: space-around;
  grid-column: 4/4;
  grid-row: 1/1;
  border-left: 0.5px solid rgba(51, 59, 81, 0.244);
  border-right: 0.5px solid rgba(51, 59, 81, 0.244);
  border-bottom: 0.5px solid rgba(51, 59, 81, 0.244);
}
header .menu-global nav ul {
  display: flex;
}
header .menu-global nav ul li {
  margin: 0 10px;
}
header .menu-global nav ul li a {
  font-size: 1rem;
  font-family: "Syne", sans-serif;
  font-weight: 600;
  color: #ffffff;
  position: relative;
}
header .menu-global nav ul li a:hover {
  padding-bottom: 5px;
  border-bottom: 2px solid #0466c8;
}
header .menu-global .theme-switcher label {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .menu-global .theme-switcher input {
  position: absolute;
  opacity: 0;
}
header .menu-global .theme-switcher .moon {
  font-size: 19px;
  color: #ffffff;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.504));
  transition: 0.8s ease;
  transition-delay: 0.4s;
}
header .menu-global .theme-switcher .moon:hover {
  color: #0466c8;
}
header .menu-global .theme-switcher input:checked ~ .moon {
  transition-delay: 0.5s;
  transform: rotate(360deg) scale(0);
}
header .menu-global .theme-switcher .sun {
  position: absolute;
  font-size: 19px;
  color: #131a32;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.6));
  transform: scale(0);
  transition: 1s ease;
  transition-delay: 0.4s;
}
header .menu-global .theme-switcher .sun:hover {
  color: #0466c8;
}
header .menu-global .theme-switcher input:checked ~ .sun {
  transition-delay: 0.5s;
  transform: scale(1) rotate(360deg);
}
header .menu-global .theme-switcher .toggle {
  position: absolute;
  display: block;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.1), inset 0 8px 8px rgba(0, 0, 0, 0.1), inset 0 -4px -4px rgba(0, 0, 0, 0.1);
  z-index: -1;
  transition: 0.2s;
}
header .el4 {
  grid-column: 5/5;
  grid-row: 1/1;
  border-bottom: 0.5px solid rgba(51, 59, 81, 0.244);
}

footer {
  display: grid;
  grid-template-columns: 1fr 399.5px 400px 399.5px 1fr;
  grid-template-rows: 200px 80px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
footer .el1 {
  grid-column: 1/1;
  border-right: 0.5px solid rgba(51, 59, 81, 0.244);
  border-top: 0.5px solid rgba(51, 59, 81, 0.244);
  border-bottom: 0.5px solid rgba(51, 59, 81, 0.244);
}
footer .el2 {
  grid-column: 2/4;
  border-top: 0.5px solid rgba(51, 59, 81, 0.244);
  border-bottom: 0.5px solid rgba(51, 59, 81, 0.244);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .el2 h1 {
  font-family: "Oswald", sans-serif;
  color: #0466c8;
  font-size: 1.8em;
  text-transform: uppercase;
  font-weight: 600;
  padding-left: 16px;
  padding-top: 12px;
  transform: translate(-336px, -30px);
}
footer .el2 p {
  padding: 10px 40px 35px;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  line-height: 22px;
}
footer .el2 a {
  transform: translateY(-10px);
  padding: 7px 534px 7px 25px;
  border: 1px solid rgba(255, 255, 255, 0.1490196078);
  border-radius: 30px;
  color: #ffffff;
  font-family: "Syne", sans-serif;
  font-size: 1rem;
  line-height: 25px;
  text-decoration: underline;
  text-decoration: none;
  margin-left: 30px;
}
footer .el2 a:hover {
  cursor: pointer;
  color: #0466c8;
  border: 1px solid #0466c8;
}
footer .el3 {
  grid-column: 4/5;
  border-left: 0.5px solid rgba(51, 59, 81, 0.244);
  border-right: 0.5px solid rgba(51, 59, 81, 0.244);
  border-top: 0.5px solid rgba(51, 59, 81, 0.244);
  border-bottom: 0.5px solid rgba(51, 59, 81, 0.244);
}
footer .el4 {
  grid-column: 5/5;
  border-right: 0.5px solid rgba(51, 59, 81, 0.244);
  border-top: 0.5px solid rgba(51, 59, 81, 0.244);
  border-bottom: 0.5px solid rgba(51, 59, 81, 0.244);
}
footer .el5 {
  grid-column: 1/1;
  border-right: 0.5px solid rgba(51, 59, 81, 0.244);
}
footer .el6 {
  grid-column: 2/2;
  border-right: 0.5px solid rgba(51, 59, 81, 0.244);
}
footer .el7 {
  grid-column: 3/3;
  border-right: 0.5px solid rgba(51, 59, 81, 0.244);
}
footer .el8 {
  grid-column: 4/4;
  border-right: 0.5px solid rgba(51, 59, 81, 0.244);
}
footer .el9 {
  grid-column: 5/5;
}

.overlay {
  position: fixed;
  top: 0;
  height: 50vh;
  width: 100vw;
  background-color: #0466c8;
  transition: transform 1s ease-in-out;
  z-index: 1;
}

#topOverlay {
  left: 0;
  transform-origin: top left;
  transform: translateY(0) translateX(0);
}

#bottomOverlay {
  left: 0;
  top: 50vh;
  transform-origin: top left;
  transform: translateY(0) translateX(0);
}

main .nomJob {
  display: grid;
  grid-template-columns: 1fr 399.5px 400px 399.5px 1fr;
  grid-template-rows: 280px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
main .nomJob .el1 {
  grid-column: 1/1;
  border-right: 0.5px solid rgba(51, 59, 81, 0.244);
  border-bottom: 0.5px solid rgba(51, 59, 81, 0.244);
}
main .nomJob .el2 {
  border-left: 0.5px solid rgba(51, 59, 81, 0.244);
  border-right: 0.5px solid rgba(51, 59, 81, 0.244);
  border-bottom: 0.5px solid rgba(51, 59, 81, 0.244);
  overflow: hidden;
  position: relative;
}
main .nomJob .el2 img {
  position: absolute;
  top: -192px;
  left: 70px;
  opacity: 0.45;
  object-fit: contain;
  transform: scale(4);
}
main .nomJob .el3 {
  border-bottom: 0.5px solid rgba(51, 59, 81, 0.244);
}
main .nomJob .nomJob-global {
  border-bottom: 0.5px solid rgba(51, 59, 81, 0.244);
  grid-column: 2/4;
  grid-row: 1/1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-left: 15px;
}
main .nomJob .nomJob-global h1 {
  font-family: "Oswald", sans-serif;
  font-size: 75px;
  font-weight: 600;
  letter-spacing: -2px;
  color: #ffffff;
  margin: 0;
  transform: translate(-5px, 0px);
}
main .nomJob .nomJob-global h1 span {
  color: #0466c8;
  font-style: italic;
}
main .nomJob .nomJob-global h2 {
  font-family: "Inter", sans-serif;
  font-size: 60px;
  font-weight: 200;
  color: #ffffff;
  letter-spacing: -6px;
  transform: translate(0px, -25px);
}
main .social-img {
  display: grid;
  grid-template-columns: 1fr 399.5px 400px 399.5px 1fr;
  grid-template-rows: 215px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
main .social-img .el4 {
  grid-column: 1/1;
  border-right: 0.5px solid rgba(51, 59, 81, 0.244);
  border-bottom: 0.5px solid rgba(51, 59, 81, 0.244);
}
main .social-img .el5 {
  grid-column: 2/4;
  border-bottom: 0.5px solid rgba(51, 59, 81, 0.244);
  overflow: hidden;
  position: relative;
}
main .social-img .el5 img {
  position: absolute;
  top: 17px;
  left: 180px;
  right: 147px;
  object-fit: contain;
  transform: scale(2);
  opacity: 0.45;
}
main .social-img .social {
  grid-column: 4/4;
  border-left: 0.5px solid rgba(51, 59, 81, 0.244);
  border-bottom: 0.5px solid rgba(51, 59, 81, 0.244);
  border-right: 0.5px solid rgba(51, 59, 81, 0.244);
}
main .social-img .social h1 {
  font-family: "Oswald", sans-serif;
  color: #0466c8;
  font-size: 1.8em;
  text-transform: uppercase;
  font-weight: 600;
  padding-left: 16px;
  padding-top: 12px;
}
main .social-img .social .logo-social {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .social-img .social .logo-social ul {
  margin-top: 2px;
}
main .social-img .social .logo-social ul li {
  margin: 35px 0;
}
main .social-img .social .logo-social ul li a {
  padding: 7px 235px 7px 25px;
  border: 0.5px solid rgba(255, 255, 255, 0.1490196078);
  border-radius: 30px;
  color: #ffffff;
  font-size: 16px;
  font-family: "Syne", sans-serif;
  font-weight: 200;
  position: relative;
}
main .social-img .social .logo-social ul li a:hover {
  color: #0466c8;
  border: 1px solid #0466c8;
}
main .social-img .social .logo-social ul li a .arrow-link {
  position: absolute;
  right: 34px;
  top: 9px;
}
main .social-img .social .logo-social ul li a .arrow-link:hover {
  transform: rotate(-45deg);
}
main .social-img .social .logo-social ul li .github {
  padding: 7px 244px 7px 25px;
}
main .social-img .el6 {
  grid-column: 5/5;
  border-bottom: 0.5px solid rgba(51, 59, 81, 0.244);
}
main .about {
  display: grid;
  grid-template-columns: 1fr 399.5px 400px 399.5px 1fr;
  grid-template-rows: 210px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
main .about .el1 {
  grid-column: 1/1;
  border-right: 0.5px solid rgba(51, 59, 81, 0.244);
  border-bottom: 0.5px solid rgba(51, 59, 81, 0.244);
}
main .about .aboutMe {
  grid-column: 2/4;
  border-bottom: 0.5px solid rgba(51, 59, 81, 0.244);
}
main .about .aboutMe h1 {
  font-family: "Oswald", sans-serif;
  color: #0466c8;
  font-size: 1.8em;
  text-transform: uppercase;
  font-weight: 600;
  padding-left: 16px;
  padding-top: 12px;
}
main .about .aboutMe p {
  padding: 10px 40px 35px;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  line-height: 22px;
}
main .about .aboutMe a {
  padding: 7px 534px 7px 25px;
  border: 1px solid rgba(255, 255, 255, 0.1490196078);
  border-radius: 30px;
  color: #ffffff;
  font-family: "Syne", sans-serif;
  font-size: 1rem;
  line-height: 25px;
  text-decoration: underline;
  text-decoration: none;
  margin-left: 30px;
  position: relative;
}
main .about .aboutMe a:hover {
  transform: scale(105%);
  color: #0466c8;
  border: 1px solid #0466c8;
}
main .about .aboutMe .arrow-link {
  position: absolute;
  right: 34px;
  top: 9px;
}
main .about .aboutMe .arrow-link:hover {
  transform: rotate(-45deg);
}
main .about .el2 {
  overflow: hidden;
  position: relative;
  grid-column: 4/4;
  border-left: 0.5px solid rgba(51, 59, 81, 0.244);
  border-right: 0.5px solid rgba(51, 59, 81, 0.244);
  border-bottom: 0.5px solid rgba(51, 59, 81, 0.244);
}
main .about .el2 img {
  position: absolute;
  top: 17px;
  left: -97px;
  object-fit: contain;
  transform: scale(2);
  opacity: 0.45;
}
main .about .el3 {
  grid-column: 5/5;
  border-bottom: 0.5px solid rgba(51, 59, 81, 0.244);
}
main .technos {
  display: grid;
  grid-template-columns: 1fr 399.5px 400px 399.5px 1fr;
  grid-template-rows: 155px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
main .technos .el1 {
  grid-column: 1/1;
  border-right: 0.5px solid rgba(51, 59, 81, 0.244);
  border-bottom: 0.5px solid rgba(51, 59, 81, 0.244);
}
main .technos .el2 {
  grid-column: 2/3;
  border-bottom: 0.5px solid rgba(51, 59, 81, 0.244);
  border-right: 0.5px solid rgba(51, 59, 81, 0.244);
  overflow: hidden;
  position: relative;
}
main .technos .el2 img {
  position: absolute;
  top: 23px;
  left: -165px;
  right: 147px;
  object-fit: contain;
  transform: scale(2);
  opacity: 0.45;
}
main .technos .el3 {
  grid-column: 3/5;
  border-bottom: 0.5px solid rgba(51, 59, 81, 0.244);
  border-right: 0.5px solid rgba(51, 59, 81, 0.244);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .technos .el4 {
  grid-column: 5/5;
  border-bottom: 0.5px solid rgba(51, 59, 81, 0.244);
}
main .work {
  display: grid;
  grid-template-columns: 1fr 399.5px 400px 399.5px 1fr;
  grid-template-rows: 200px 320px 320px 320px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
main .work .el1 {
  grid-column: 1/1;
  border-right: 0.5px solid rgba(51, 59, 81, 0.244);
  border-bottom: 0.5px solid rgba(51, 59, 81, 0.244);
}
main .work .el2 {
  grid-column: 2/4;
  border-bottom: 0.5px solid rgba(51, 59, 81, 0.244);
  border-right: 0.5px solid rgba(51, 59, 81, 0.244);
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}
main .work .el2 h1 {
  font-family: "Oswald", sans-serif;
  color: #0466c8;
  font-size: 1.8em;
  text-transform: uppercase;
  font-weight: 600;
  padding-left: 16px;
  padding-top: 12px;
}
main .work .el2 p {
  padding: 10px 40px 35px;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  line-height: 22px;
}
main .work .el3 {
  grid-column: 4/5;
  border-bottom: 0.5px solid rgba(51, 59, 81, 0.244);
  border-right: 0.5px solid rgba(51, 59, 81, 0.244);
  overflow: hidden;
  position: relative;
}
main .work .el3 img {
  position: absolute;
  top: -32px;
  left: -293px;
  right: -197px;
  object-fit: contain;
  transform: scale(2);
  transform: translateX(164px);
  opacity: 0.45;
}
main .work .el4 {
  grid-column: 5/5;
  border-bottom: 0.5px solid rgba(51, 59, 81, 0.244);
}
main .work .el5 {
  grid-column: 1/1;
  border-bottom: 0.5px solid rgba(51, 59, 81, 0.244);
  border-right: 0.5px solid rgba(51, 59, 81, 0.244);
}
main .work .el6 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  grid-column: 2/2;
  border-right: 0.5px solid rgba(51, 59, 81, 0.244);
  border-bottom: 0.5px solid rgba(51, 59, 81, 0.244);
  padding: 0 40px;
}
main .work .el6 h4 {
  letter-spacing: 1.5px;
  font-family: "Inter", sans-serif;
  color: #ffffff;
  font-size: 1.3em;
  text-transform: uppercase;
  font-weight: 500;
  padding-bottom: 10px;
}
main .work .el6 h4 span {
  color: #c00;
}
main .work .el6 p {
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
}
main .work .el6 a {
  color: #ffffff;
  padding: 7px 25px;
  border: 1px solid rgba(255, 255, 255, 0.1490196078);
  border-radius: 30px;
  font-family: "Syne", sans-serif;
  font-size: 1rem;
  font-weight: 200;
  text-decoration: underline;
  text-decoration: none;
  position: relative;
  margin-top: 30px;
  text-transform: uppercase;
}
main .work .el6 a .arrow-link {
  position: absolute;
  right: 34px;
  top: 10px;
  font-size: 15px;
}
main .work .el6 a .arrow-link:hover {
  color: #0466c8;
  transform: rotate(-45deg);
}
main .work .el6 a:hover {
  color: #0466c8;
  border: 1px solid #0466c8;
  transform: scale(105%);
}
main .work .el7 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 3/5;
  border-bottom: 0.5px solid rgba(51, 59, 81, 0.244);
  border-right: 0.5px solid rgba(51, 59, 81, 0.244);
  overflow: hidden;
  position: relative;
}
main .work .el7 img {
  position: absolute;
  object-fit: contain;
  width: 95%;
  opacity: 0.9;
}
main .work .el7 img:hover {
  cursor: pointer;
}
main .work .el8 {
  grid-column: 5/5;
  border-bottom: 0.5px solid rgba(51, 59, 81, 0.244);
}
main .work .el9 {
  grid-column: 1/1;
  border-right: 0.5px solid rgba(51, 59, 81, 0.244);
  border-bottom: 0.5px solid rgba(51, 59, 81, 0.244);
}
main .work .el10 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 2/2;
  border-right: 0.5px solid rgba(51, 59, 81, 0.244);
  border-bottom: 0.5px solid rgba(51, 59, 81, 0.244);
  flex-direction: column;
  padding: 0 40px;
}
main .work .el10 p {
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
}
main .work .el10 a {
  color: #ffffff;
  padding: 7px 147px 7px 25px;
  border: 1px solid rgba(255, 255, 255, 0.1490196078);
  border-radius: 30px;
  font-family: "Syne", sans-serif;
  font-size: 1rem;
  font-weight: 200;
  text-decoration: underline;
  text-decoration: none;
  position: relative;
  margin-top: 30px;
  text-transform: uppercase;
}
main .work .el10 a .arrow-link {
  position: absolute;
  right: 34px;
  top: 10px;
  font-size: 15px;
}
main .work .el10 a .arrow-link:hover {
  color: #0466c8;
  transform: rotate(-45deg);
}
main .work .el10 a:hover {
  color: #0466c8;
  border: 1px solid #0466c8;
  transform: scale(105%);
}
main .work .el11 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 3/5;
  border-right: 0.5px solid rgba(51, 59, 81, 0.244);
  border-bottom: 0.5px solid rgba(51, 59, 81, 0.244);
  overflow: hidden;
  position: relative;
}
main .work .el11 img {
  position: absolute;
  object-fit: contain;
  width: 95%;
}
main .work .el11 img:hover {
  cursor: pointer;
}
main .work .el12 {
  grid-column: 5/5;
  border-bottom: 0.5px solid rgba(51, 59, 81, 0.244);
}
main .work .el13 {
  grid-column: 1/1;
  border-right: 0.5px solid rgba(51, 59, 81, 0.244);
}
main .work .el14 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  grid-column: 2/2;
  border-right: 0.5px solid rgba(51, 59, 81, 0.244);
  padding: 0 40px;
}
main .work .el14 h4 {
  font-family: "Inter", sans-serif;
  color: #21d86b;
  font-size: 1.3em;
  text-transform: uppercase;
  font-weight: 500;
  padding-bottom: 10px;
}
main .work .el14 h4 span {
  color: #12399b;
}
main .work .el14 p {
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
}
main .work .el14 a {
  color: #ffffff;
  padding: 7px 25px;
  border: 1px solid rgba(255, 255, 255, 0.1490196078);
  border-radius: 30px;
  font-family: "Syne", sans-serif;
  font-size: 1rem;
  font-weight: 200;
  text-decoration: underline;
  text-decoration: none;
  position: relative;
  margin-top: 30px;
  text-transform: uppercase;
}
main .work .el14 a .arrow-link {
  position: absolute;
  right: 34px;
  top: 10px;
  font-size: 15px;
}
main .work .el14 a .arrow-link:hover {
  color: #0466c8;
  transform: rotate(-45deg);
}
main .work .el14 a:hover {
  color: #0466c8;
  border: 1px solid #0466c8;
  transform: scale(105%);
}
main .work .el15 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 3/5;
  border-right: 0.5px solid rgba(51, 59, 81, 0.244);
  overflow: hidden;
  position: relative;
}
main .work .el15 img {
  position: absolute;
  object-fit: contain;
  width: 95%;
}
main .work .el15 img:hover {
  cursor: pointer;
}